<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header">Minecraft PE Servers</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-server"></i> Kingdoms Server</div>
        <table class="table table-hover table-striped">
          <tr>
            <td colspan="2"><i class="fa fa-info-circle"></i><strong>Server Information</strong></td>
          </tr>
          <tr>
            <td><strong>Owner</strong></td>
            <td>King Fox</td>
          </tr>
          <tr>
            <td><strong>Status</strong></td>
            <td><span class="label label-success">Online</span></td>
          </tr>
          <tr>
            <td><strong>IP</strong></td>
            <td>play.kingdomscraft.net</td>
          </tr>
          <tr>
            <td><strong>Port</strong></td>
            <td>19192</td>
          </tr>
          <tr>
            <td><strong>Location</strong></td>
            <td><img src="assets/img/flag.png"> Canada</td>
          </tr>
          <tr>
            <td><strong>Website</strong></td>
            <td><a href="#">www.kingdomscraft.net</a></td>
          </tr>
          <tr>
            <td colspan="2"><i class="fa fa-bar-chart-o"></i><strong>Server Statistics</strong></td>
          </tr>
          <tr>
            <td><strong>Rank</strong></td>
            <td>1</td>
          </tr>
          <tr>
            <td><strong>Players</strong></td>
            <td>200/250</td>
          </tr>
          <tr>
            <td><strong>Votes</strong></td>
            <td>11,500</td>
          </tr>
          <tr>
            <td><strong>Uptime</strong></td>
            <td>7d 3h 25m <span class="label label-success">100%</span></td>
          </tr>
          <tr>
            <td><strong>Ping</strong></td>
            <td><span class="label label-warning">75ms</span></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="text-center"><img src="assets/img/banner.png"></h2>
          <hr>
          <p class="text-center"><a href="vote.php?id=1" class="btn btn-success btn-lg">Vote for Kingdoms Server</a></p>
          <hr>
          <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </div>

</div>