<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header">Minecraft PE Servers</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          My Servers
          <div class="pull-right">
            <a href="add_server.php" class="btn btn-success btn-sm add-btn"><i class="fa fa-plus-circle"></i> Add Server</a>
            <a href="changepass.php" class="btn btn-success btn-sm add-btn"><i class="fa fa-lock"></i> Change Password</a>
          </div>
        </div>
        <table class="table table-striped">
          <tr>
            <th class="text-center">Rank</th>
            <th class="server-details">Server Name</th>
            <th class="server-details">Server</th>
            <th class="text-center">Players</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Remove</th>
          </tr>
          <tr>
            <td class="text-center">1</td>
            <td><h4 class="no-margin">Kingdoms Craft</h4></td>
            <td><h4 class="no-margin">play.kingdomscraft.net:19192</h4></td>
            <td class="text-center">1,500</td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-times-circle fa-lg"></i></a></td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td><h4 class="no-margin">Kingdoms Craft</h4></td>
            <td><h4 class="no-margin">play.kingdomscraft.net:19192</h4></td>
            <td class="text-center">1,500</td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-times-circle fa-lg"></i></a></td>
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td><h4 class="no-margin">Kingdoms Craft</h4></td>
            <td><h4 class="no-margin">play.kingdomscraft.net:19192</h4></td>
            <td class="text-center">1,500</td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-times-circle fa-lg"></i></a></td>
          </tr>
          <tr>
            <td class="text-center">4</td>
            <td><h4 class="no-margin">Kingdoms Craft</h4></td>
            <td><h4 class="no-margin">play.kingdomscraft.net:19192</h4></td>
            <td class="text-center">1,500</td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-times-circle fa-lg"></i></a></td>
          </tr>
          <tr>
            <td class="text-center">5</td>
            <td><h4 class="no-margin">Kingdoms Craft</h4></td>
            <td><h4 class="no-margin">play.kingdomscraft.net:19192</h4></td>
            <td class="text-center">1,500</td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
            <td class="text-center"><a href="edit.php"><i class="fa fa-times-circle fa-lg"></i></a></td>
          </tr>
        </table>
        <div class="panel-footer text-right">
          <a href="add_server.php" class="btn btn-success btn-sm add-btn"><i class="fa fa-plus-circle"></i> Add Server</a>
          <a href="changepass.php" class="btn btn-success btn-sm add-btn"><i class="fa fa-lock"></i> Change Password</a>
        </div>
      </div>
    </div>
  </div>

</div>