<% content_for :title, "Recover Password - Minecraft PE Servers List" %>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header">Minecraft PE Servers</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4><i class="fa fa-unlock"></i> Account Recovery</h4>
          <hr>
          <form action="index.php" method="post">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block"><i class="fa fa-send"></i> Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>