<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <img src="assets/img/sitemap.png">
        <p>
        <ul>
          <li><a href="#">Browse Servers</a></li>
          <li><a href="#">Manage Server</a></li>
          <li><a href="#">Search Servers</a></li>
          <li><a href="#">Help/FAQ</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        </p>
        <hr class="hidden-md hidden-lg">
      </div>

      <div class="col-md-6 center-col hidden-sm hidden-xs">
        <img src="assets/img/footer_mid.png">
        <p>&copy; RenualSoftware B.V. 2016</p>
        <p>Minecraft PE and associated Minecraft PE images are copyright of Mojang AB.<br>
          Minecraft PE Servers are not affiliated with Minecraft PE or Mojang AB.</p>
        <hr class="hidden-md hidden-lg">
      </div>

      <div class="col-md-3 hidden-sm hidden-xs right-col">
        <img src="assets/img/pelinks.png">
        <p>
        <ul>
          <li><a href="#">Minecraft PE Website</a></li>
          <li><a href="#">Minecraft PE Forums</a></li>
          <li><a href="#">Minecraft PE Wiki</a></li>
        </ul>
        </p>
        <hr class="hidden-md hidden-lg">
      </div>


      <div class="col-sm-8 col-xs-12 center-colhidden-md hidden-lg">
        <img src="assets/img/footer_mid.png"  class="pull-left">
        <p>&copy; RenualSoftware B.V. 2016</p>
        <p>Minecraft PE and associated images are copyright of Mojang AB. We are not affiliated with Minecraft or Mojang.</p>
      </div>
      <div class="col-sm-4 col-xs-12 text-right">
        <img src="assets/img/sitemap.png">
        <p>
        <ul>
          <li><a href="#">Browse Servers</a></li>
          <li><a href="#">Manage Server</a></li>
          <li><a href="#">Search Servers</a></li>
          <li><a href="#">Help/FAQ</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        </p>
      </div>

    </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>By using this site, you agree with your <a href="#" class="gold-link">Terms of Service</a>
          and <a href="#" class="gold-link">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
