<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header">About us</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>