<% content_for :title, "About - Minecraft PE Server List" %>
<% content_for :description, 'Explains what Minecraft-PE-Servers.com is all about, what we\'re trying to do and how we\'re going about it!'%>
<% content_for :keywords, 'about, minecraft pe servers'%>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-right">
            <h1 class="page_header align-text">About Minecraft-PE-Servers.com</h1>
        </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
                <div class="panel-body">
                    <h3>About Minecraft PE Servers</h3>
                    <hr>
                  <p>Minecraft-PE-Servers.com (this website) is a Minecraft PE Server List that was founded in September 2016. It was initially available on mobile only by means of an <a href ='https://itunes.apple.com/us/app/best-servers-for-minecraft/id1066395765?mt=8'>IOS</a> and <a href ='https://play.google.com/store/apps/details?id=com.renualsoftware.minecraftpe.minecraftpeservers'>Android</a> app since December 2015.
                  It now has over a million downloads and now this website is well on it's way to becoming the best Minecraft PE Server List.</p>
                  <hr>
                  <h4>Our goal</h4>
                  Our goal is to become the world's best toplist to find minecraft pe servers. On one hand we'd like to help people find their new favourite mcpe server, on the other hand we'd like to help minecraft pe server owners find new players.
                  <hr>
                  <h4>Who are we?</h4>
                  <p>
                    This website is developed and operated by <a href ='https://renualsoftware.com'>RenualSoftware B.V.</a> , a software company in The Netherlands that mainly focuses on Games.<br>If you're interested in making your own Minecraft PE Server check out our other service <a href ='https://mcpeservermaker.com'>MCPE Server Host</a>
                    <br>
                  </p>
                  <hr>
                  <h4>Can I work for with/for you guys?</h4>
                  <p>
                    We are always looking for talented individuals to work with us. If you are able to do computer programming or you believe you have another skill that may be beneficial to us, feel free to send an email with your CV and motivational letter to <a href ='mailto:jobs@renualsoftware.com'>Jobs@renualsoftware.com</a>
                  </p>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>