<% content_for :title, "API Documentation - Minecraft PE Servers List" %>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header">API Documentation</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-body">
            <h3><i class="fa fa-cogs" aria-hidden="true"></i> API Documentation</h3>
            <hr>
             By using our the Minecraft-PE-Servers.com API you can ask us for specific data in an automated fashion.
            <hr>
            <h4><i class="fa fa-cog" aria-hidden="true"></i> API Endpoints</h4>
            <div class="accordion" id="api_options">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#api_options" href="#api1">Checking if someone has voted or not</a>
                </div>
                <div id="api1" class="accordion-body collapse" style="height: 0px;">
                  <div class="accordion-inner">
                    <div class="row-fluid"><div class="span12"><strong><i class="fa fa-user" aria-hidden="true"></i> Checking wether someone has voted or not is an extremely handy feature. It can for example be used in vote verification plugins so you can reward your players after they have voted.</strong></div></div>
                    <div style="height: 15px;"></div>
                    <div class="row-fluid"><div class="span12">
                     <span class="label label-info">GET</span> https://minecraft-pe-servers.com/api/votes/claim?key=YOUR_SERVER_API_KEY&username=USERNAME_OF_USER</div></div>

                    <div style="height: 15px;"></div>
                    <div class="row-fluid"><div class="span12">


                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th width="25%">Parameter</th>
                          <th width="25%">Description</th>
                          <th width="25%">Data Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>key</td>
                          <td>Your Server API Key</td>
                          <td>String</td>
                        </tr>
                        <tr>
                          <td>username</td>
                          <td>Voter's username</td>
                          <td>String</td>
                        </tr>
                        </tbody>
                      </table>

                    </div></div>
                    <hr>
                    <div style="height: 15px;"></div>
                    <div class="row-fluid"><div class="span6">

                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th width="30%">Response</th>
                          <th width="70%">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>0</td>
                          <td>Not found</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>Has voted and not claimed</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Has voted and claimed</td>
                        </tr>
                        </tbody>
                      </table>

                    </div></div>

                  </div>
                </div>
              </div>
            </div>
            <div class="accordion" id="api_options">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#api_options" href="#api2">To claim a vote/set a vote as claimed</a>
                </div>
                <div id="api2" class="accordion-body collapse" style="height: 0px;">
                  <div class="accordion-inner">
                    <div class="row-fluid"><div class="span12"><strong><i class="fa fa-user" aria-hidden="true"></i> This feature allows you to set someone's voted as claimed, this way they cannot claim the same reward twice.</strong></div></div>
                    <div style="height: 15px;"></div>
                    <div class="row-fluid"><div class="span12">
                      <span class="label label-info">POST</span> https://minecraft-pe-servers.com/api/votes/claim?key=YOUR_SERVER_API_KEY&username=USERNAME_OF_USER</div></div>

                    <div style="height: 15px;"></div>
                    <div class="row-fluid"><div class="span12">


                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th width="25%">Parameter</th>
                          <th width="25%">Description</th>
                          <th width="25%">Data Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>key</td>
                          <td>Your Server API Key</td>
                          <td>String</td>
                        </tr>
                        <tr>
                          <td>username</td>
                          <td>Voter's username</td>
                          <td>String</td>
                        </tr>
                        </tbody>
                      </table>

                    </div></div>
                    <hr>
                    <div style="height: 15px;"></div>
                    <div class="row-fluid"><div class="span6">

                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th width="30%">Response</th>
                          <th width="70%">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>0</td>
                          <td>We were unable to locate the user's vote based on the information provided.</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>This vote has been marked as claimed</td>
                        </tr>
                        </tbody>
                      </table>

                    </div></div>

                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h4><i class="fa fa-cog" aria-hidden="true"></i> API Plugins</h4>

              <p><strong>VoteReward</strong> is a reward plugin for Minecraft Pocket Edition Servers. Using this plugin you can give reward to players that voted for your server on Minecraft-PE-Servers.com</p>
              <p><a href="http://forums.pocketmine.net/plugins/votereward.769/" target="_blank">Detail &amp; Download <i class="fa fa-download" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>