<% content_for :title, "Privacy Policy - Minecraft PE Server List" %>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-right">
            <h1 class="page_header">Privacy Policy</h1>
        </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
                <div class="panel-body">
                    <h3>Privacy Policy (August 16, 2016)</h3>
                    <hr>
                  Information collected on Minecraft-PE-Servers.com is only for data analysis for this website, we will not sell your data to any third party.<br>
                  If you have any concerns or questions about this privacy policy, please reach out to Support@minecraft-pe-servers.com
                  <hr>
                  <h4>Server Data</h4>
                  When you register for our website you provide us with your MCPE server's information, such as the IP & the Port. By signing up on our website you agree that this information will be publicly displayed on our website and thus can be viewed by third parties.<br>
                  <h4>User Data</h4>
                  When signing up for an account on our website or through our app you provide a username & email address. We only use this data for authentication, informing you of news, account recovery and account modifications. This information will <strong>NOT</strong> be shared with third parties.
                  <h4>Logs</h4>
                  To be able to guarantee the working of our service we collect access logs of users visiting our website, the data we extract and persist from user's requests can be seen below.
                  These records are not used to personally identify individuals and exist solely for system monitoring purposes and government compliance.
                  <br><br>
                  Information:
                  <ul style="font-weight: bold">
                    <li>IP Address</li>
                    <li>Browser Version</li>
                    <li>Requested Url</li>
                    <li>Type of Operating System</li>
                    <li>Date/Time</li>
                  </ul>
                  <hr>
                  <h4>Links to third parties</h4>
                  Our website contains various helpful resources that may exist on websites that are outside of our control, therefore we are unable to guarantee the same degree of privacy controls as we can on here. We recommend you to exercise caution when visiting any website other than our own and encourage you to read their respective privacy policies.
                  <h4>Advertisements</h4>
                  This website is powered by advertisements provided by third party advertisement providers, these may use non-identifiable information to be able to serve ads to you that are likely to be of interest.
                  If you are concerned about your privacy with any of our advertisement providers, feel free to reach out to <a href="mailto:Support@minecraft-pe-servers.com">Support@minecraft-pe-servers.com</a> to request any clarification.
                  <hr>
                  <h4>Changeability</h4>
                  Minecraft-PE-Servers.com reserves the right to change these policies at any time with or without notice. When we do we will adjust the last changed date at the top of this page.
                </div>
            </div>
        </div>
        </div>
    </div>

</div>