<% content_for :title, "Terms of Service - Minecraft PE Server List" %>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-right">
            <h1 class="page_header">Terms of Service</h1>
        </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
                <div class="panel-body">
                    <h3>Terms of Service (August 16, 2016)</h3>
                    <hr>
                  By making use of this website or our mobile application, you agree to the terms below.
                  <hr>
                  <h4>Intellectual Property Rights and Trademarks</h4>
                  Minecraft PE, the Minecraft PE brand and images are the property of Mojang AB.<br>
                  We are not affiliated or endorsed by Minecraft or Mojang AB. We respect the intellectual property of third parties, and we expect our users to do the same. <br>
                  If our website contains information or imagery that you believe to be in violation of your intellectual property or trademark, please reach out to us on <a href = 'mailto:Support@minecraft-pe-servers.com'>Support@minecraft-pe-servers.com</a>
                  <br><h4>Content</h4>
                  You agree that content that you upload to our website meets the following <br><br>
                  <strong>Criteria:</strong>
                  <ul>
                    <li>It is not of explicit nature</li>
                    <li>It does not promote or condone violence or racism</li>
                    <li>The content is legal in both The Netherlands and your operational and residential area</li>
                    <li>The content you upload is yours or you are allowed to act on behalf of the rights holder</li>
                  </ul>
                  When you post your listing on our website, you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use this content on our website and in search results in search engines and other services that may benefit the operation of this website. This license is immediately revoked when you choose to delete the content from our website. The content will no longer be publicly visible from this moment on, please be wary that third party service such as search engines or crawlers may still have a copy of the content and it may take several weeks for them to clear it out.
                  <br><h4>Closure</h4>
                  You may choose to remove your account or server at any time by signing into our control panel and selecting the delete functionality.<br>You agree that after you've done so, this information will still be available in our backups but not publicly visible.
                  <br><br><h4>Warranties</h4>
                  The services provided on this website or our mobile apps aren't backed up by any warranties, should the service be (temporarily) unavailable we are not liable for any damages or lost revenues.
                  <br><br><h4>Termination</h4>
                  We reserve the right to terminate your account or server listing at any time for any reason.
                  <br><br><h4>Changeability</h4>
                  Minecraft-PE-Servers.com reserves the right to change these terms of service at any time with or without notice. When we do we will adjust the last changed date at the top of this page.
                </div>
            </div>
        </div>
        </div>
    </div>

</div>